html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
}
.logo{
  min-height: 80px;
  background-color: #1d1d20;
}
.topMenu{
  background-color: #343336;
  width: 100%;
  min-height: 80px;
}
.menu {
  background-color: #8cc665;
  min-width: 150px;
  float: left;
  min-height: 100%;
}
.menu .menuItem{
  padding-top: 20px;
  padding-left: 0px;
  text-align: center;
  min-height: 40px;
}
.menu .menuItem:hover{
  background-color: white;
}
.content{
  background-color: #999;
}
