html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
}
.menu {
  background-color: #777;
  min-width: 150px;
  float: left;
  min-height: 100%;
}
.content{
  background-color: #999;
}
.topMenu{
  background-color: #0D0;
  width: 100%;
  min-height: 80px;
}
